.contact-container {
    width: 100%;
}

.social-container {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-container .social-item {
    width: 50vh;
    margin-top: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-container .social-item span, input {
    font-size: 1.5rem;
}

.social-container .social-item input {
    background-color: transparent;
    border: transparent;
    color: #dfdfea;
    cursor: pointer;
}